* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-color: var(--dark-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  justify-self: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 400px;
  min-width: 280px;
  align-content: center;
  margin: 75px 75px 30px 75px;
}

header figure {
  display: flex;
  padding: 15px;
}

header img {
  margin: auto auto;
  border-radius: 50%;
  width: 160px;
}

h1 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 2px;
  font-size: 2.3rem;
}

header p {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 7px;
}

header h2 {
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
}

nav ul {
  margin: 15px;
  display: flex;
  list-style: none;
  justify-content: center;
}

nav li {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

nav li a {
  font-size: 2rem;
}

section {
  justify-self: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 400px;
  min-width: 280px;
  align-content: center;
  padding: 15px;
  margin: 15px;
}

section h2 {
    text-align: center;
    font-size: 2.2rem;
}

section a {
  font-size: 2rem;
  margin: 10px;
  padding: 12px;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 2px black solid;
  border-radius: 15px;
  font-weight: 700;
}

#newsletter form, .form-group {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 5px;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

.form-group input {
    border: 2px black solid;
    border-radius: 15px;
    padding: 10px;
    font-size: 2rem;
    background-color: white;
}

footer {
  font-size: 1.7rem;
  margin-bottom: 75px;
}
